In [11]:
import pretty_midi as pm
import pandas as pd

In [2]:
fp = "../../2020-01-31 02-20/ep_400.mid"

In [3]:
mid_data = pm.PrettyMIDI(fp)

In [17]:
mid_data.instruments[0].notes[0]

Note(start=0.000000, end=0.020455, pitch=72, velocity=100)

In [10]:
pm.utilities.note_number_to_name(72)

'C5'

In [15]:
output_df = pd.DataFrame(columns=['pitch', 'start', 'end'])

In [16]:
len(mid_data.instruments[0].notes)

18

In [20]:
for idx, note in enumerate(mid_data.instruments[0].notes):
    output_df.loc[idx] = [pm.utilities.note_number_to_name(note.pitch), note.start, note.end]

In [22]:
output_df.sort_values(by='start')

   pitch     start       end
0     C5  0.000000  0.020455
1     A3  0.000000  1.888636
2     G4  0.000000  2.688636
7    F#3  0.500000  4.229545
5     D5  2.313636  3.797727
3    F#4  2.884091  2.979545
13    G3  3.020455  6.768182
4     E3  3.181818  3.677273
9     D4  3.827273  4.877273
8     D5  3.981818  4.375000
6     E5  4.145455  4.156818
10    C4  4.747727  5.856818
12    E4  5.190909  6.336364
11    A3  5.904545  6.263636
14    C5  5.938636  7.293182
15    E3  6.606818  7.634091
16    B3  8.020455  8.075000
17    D4  8.511364  8.545455